#title{
    background-color: #ff4c68;
    color: white;
   
}

body{
    font:  "Montserrat-Black, sans-serif";
    
}

.intro-text{
    font: "Montserrat-Black, sans-serif";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.container-fluid{
    padding: 3% 15% ;
}

.intro-text{
    padding-top: 3%;
}

/* Navigation Bar*/
.navbar{
    padding-bottom : 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
}

/*Download Buttons*/

.download-button{
    margin: 5% 3% 5% 0;
}

/*Title Image*/

.title-image{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/*Features Section*/

#features{
    padding: 7% 15%;
    background-color: white;
    position: relative; 
}

.card-row{
    text-align: center;
   
} 

.cardbox{
    padding: 5% 3%;
    margin: 0px;
}

.card-text-title{
    font: "Montserrat-Black, sans-serif";
    font-weight: bold;
    font-size: 1.5rem;
    font-weight: 900;

}

.card-text{
 color: #BfBfBf;
}

/* Card Text Image*/
.fa-solid{
    color: #ef8172;
    size: 30%;
}

.fa-solid:hover{
    color: #ff4c68;
}


/*Testimonial Section */

#testimonials{
  
    text-align: center;
    background-color: #ef8172;
    color: #fff;
     
}

h2{
    font: "Montserrat-Black, sans-serif";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.testimonial-image{
   width: 10%;
   border-radius: 100%;
   margin: 20px;
   background-color: white;
}

.carousel-item{
    padding: 7% 15%;
}

#press{
    background-color:#ef8172;
    padding-bottom: 3%;
    text-align: center;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing{
    padding:100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
    
}
